<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Medium Style Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap" rel="stylesheet">

  </head>
  <body class="loader">
    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark techfont">
      <a class="navbar-brand bigbrand" href="{% url 'post_list' %}">My Blog</a>
        <ul class='navbar-nav mr-auto'>
          <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
          <li class="nav-item"><a class="nav-link" href="https://github.com/">Github</a></li>
          <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/">LinkedIn</a></li>
        </ul>


        <ul class='nav justify-content-end'>
          {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post_new' %}">New Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post_draft_list' %}">Draft</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" >Welcome: {{user.username}}</a>
            </li>
            {% else %}
            <li>
              <a class="nav navbar-right" href="{% url 'login' %}">
                <svg width="1em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                Login</a>

            </li>
          {% endif %}
        </ul>
    </nav>

    <!-- Content block -->
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog_post">
            {% block content %}

            {% endblock %}
          </div>

        </div>

      </div>

    </div>

  </body>
</html>
